* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Figtree", sans-serif;
}

:root {
  --primary-color: hsl(47, 88%, 63%);
  --text-gray: hsl(0, 0%, 42%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
}

body {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 1.5rem;
}

.container {
  width: 384px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1.5rem;
  box-shadow: 8px 8px rgba(17, 17, 17, 1);
  background-color: var(--white);
  border: 1px solid var(--black);
  border-radius: 20px;
}

.blog-image {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
}

.blog-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-context {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 0.75rem;
}

.blog-context span {
  background-color: var(--primary-color);
  color: var(--black);
  text-align: center;
  padding: 0.25rem 0.75rem;
  font-weight: 800;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.blog-context p.Published {
  color: var(--black);
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5;
}

.blog-context h2 {
  position: relative; /* positioning context for ::before */
  overflow: hidden; /* hide overflow for fill effect */
  color: var(--black);
  font-weight: 800;
  font-size: clamp(1.25rem, 2vw, 1.5rem);
  line-height: 1.4;
  cursor: pointer;
}

.blog-context h2::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0; /* start hidden */
  height: 100%;
  color: var(--primary-color);
  white-space: nowrap;
  overflow: hidden;
  font-weight: 800;
  transition: width 0.5s ease;
  pointer-events: none;
}

.blog-context h2:hover::before {
  width: 100%; /* fill on hover */
}

.blog-context p {
  color: var(--text-gray);
  font-size: clamp(0.875rem, 2vw, 1rem);
  line-height: 1.5;
  font-weight: 500;
}

.blog-profile-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.profile-image {
  width: 32px;
  height: 32px;
}

.profile-image img {
  width: 100%;
  height: 100%;
}

.profile-name p {
  font-size: 0.875rem;
  font-weight: 800;
}
